@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  background-color: #0e0915;
  color: #ffffff;
  height: 100vh;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 49px,
      #eee1 49px 50px
    ),
    repeating-linear-gradient(to bottom, transparent 0 49px, #eee1 49px 50px);
  opacity: 80;
  &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: "";
    background-image: linear-gradient(to right, #d02e23, #7a43b6);
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0% 0%;
    pointer-events: none;
    filter: blur(250px);
  }
}

.my-btn {
  @apply border-2 border-white bg-transparent tracking-wide text-white capitalize hover:bg-transparent hover:border-white text-base;
}

/* Mobile Responsive:- */
/* Extra large */
@media only screen and (max-width: 1200px) {
  .my-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* large */
@media only screen and (max-width: 992px) {
  .my-container {
    display: flex;
    align-items: center;
  }
}

/* Medium */
@media only screen and (max-width: 768px) {
  .my-container {
    display: flex;
    align-items: center;
  }
}

/* Small */
@media only screen and (max-width: 576px) {
  .my-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}
